*/__pycache__
__pycache__
.idea
adversarial_qna_images
unconstrained_attack_images
outputs
output
datasets
pre_py
visual-1
tes
get_metric_p2.py
get_metric_p1.py
*.log
*.pyc
*.png
*.pdf
*.jpg
*.tar
*.gz
.DS_Store
*.psd
.vscode
*.csv
*.sh
*.sbatch
